<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand mobile" href="/">Time Crack Pictures</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <a class="navbar-brand desktop" style="margin-top: -24px;" href="/"><img style="height:64px;"src="/img/tcp_logo_transparent.png"></a>
        <li {% if page.title == "Home" %}class="active"{% endif %}><a href="/">Home</a></li>
        <li {% if page.title == "Projekte" %}class="active"{% endif %}><a href="/projekte">Projekte</a></li>
        <li {% if page.title == "Blog" %}class="active"{% endif %}><a href="/blog">Blog</a></li>
        <li {% if page.title == "Kontakt" %}class="active"{% endif %}><a href="/kontakt">Kontakt</a></li>
      </ul>
    </div>
  </div>
</nav>
