<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include navbar.html %}
      <div class="container">
        {{ content }}
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center" style="margin-top: 16px;">
          ² TCP und TIME CRACK PICTURES sind Künstlersynonyme für die im Impressum genannten Personen
           | Copyright &copy; 2016 Time Crack Pictures
           | <a href="/impressum">Impressum und Datenschutz</a>
        </p>
      </div>
    </footer>
  </body>
</html>
